$tfont: 'Open Sans', sans-serif;
$bfont: 'Open Sans', sans-serif;
$sfont: 0.75rem;
$nfont: 1rem;
$mfont: 1.875rem;
$lfont: 2.25rem;
$xlfont:3rem;
$xxlfont:7.375rem;
$blue: #198dba;
$dblue: #00607c;
$pink: #e71089;
$yellow:#fced20;
$lgrey:#ededed;
$dorange:#ff622a;
$orange:#f1732a;
$grey:#666666;
$dgrey:#444444;
$green:#98be34;
